<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">

    {{ template "_internal/opengraph.html" . }}
    <meta property="og:image" content="{{ .Site.BaseURL }}imgs/geocamp_sotmes_banner.jpg">

    <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@8.2.0/ol.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/pico/pico.min.css" >
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/pico/pico.colors.min.css" >
    
    {{ with resources.Get "css/estilos.css" | resources.Minify | resources.Fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}">
    {{ end }}
    
  <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}imgs/favicon/favicon_16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}imgs/favicon/favicon_32x32.png">
  <link rel="icon" type="image/png" sizes="64x64" href="{{ .Site.BaseURL }}imgs/favicon/favicon_64x64.png">
  <link rel="icon" type="image/png" sizes="128x128" href="{{ .Site.BaseURL }}imgs/favicon/favicon_128x128.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}imgs/favicon/favicon_180x180.png">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <!-- <link rel="alternate" type="application/rss+xml" title="{{ site.Title }} RSS Feed" href="{{ .Site.BaseURL }}/index.xml"> -->
</head>
<body>
  <main class="container">

    <article>
      {{ block "main" . }}{{ end }}
    </article>
    <footer>
      <p>CC-BY {{ now.Year }} {{ with site.Params.author }}{{ . }}{{ end }}. 
        <!-- <a href="/index.xml">RSS</a> -->
      </p>
    </footer>
  </main>
</body>
</html>
