<div style="display:flex; justify-content:center; flex-wrap:wrap; gap:40px; align-items:center; text-align:center;">

<div>
  <a href="https://mapcolabora.org">
    <img src="./imgs/mapcolabora.svg" alt="Geoinquietos Zaragoza" style="height:60px;">
  </a><br>
  <!-- <small style="font-size:0.8em;">Geoinquietos Zaragoza</small> -->
</div>

<div>
  <a href="https://nosolosig.com/">
    <img src="./imgs/nosoloSIG.png" alt="Nosolosig" style="height:60px;">
  </a><br>
  <!-- <small style="font-size:0.8em;">Nosolosig</small> -->
</div>

<div>
  <a href="https://www.teconecta.es">
    <img src="./imgs/teconecta-soastel-h-a.svg" alt="TEconecta" style="height:60px;">
  </a><br>
  <!-- <small style="font-size:0.8em;">TEconecta</small> -->
</div>

</div>