<div class="whos-comming-section">
  <div class="container">
    <div class="row">
      
      <div class="whos-behind-box-1">
        <div class="whos-behind-photo">
          <img src="/imgs/mrx.jpeg" alt="Próximamente">
          <!-- <div class="whos-behind-social">
            <a href="https://x.com/geocampes"><i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/geocampes"><i class="fa fa-instagram"></i></a>
            <a href="https://t.me/+s-M8b2nxP2hmNjFk"><i class="fa fa-telegram"></i></a>
          </div> -->
        </div>
        <h4></h4>
        <h5></h5>
        <div class="gb-block-layout-column-inner jma-single-perfil-columna-derecha">
          <p></p>
        </div>
      </div>
      
      <div class="whos-behind-box-1">
        <div class="whos-behind-photo">
          <img src="/imgs/pulpo.png" alt="Geoinquieto">
        </div>
        <h4>Tú</h4>
        <h5>Geoinquieto</h5>
        <p>
          Nadie mejor que tú mismo para saber quién eres. Vendrás a la Geocamp, hablarás de GIS y disfrutarás de un
          día en Zaragoza.
        </p>
      </div>
    </div>
  </div>
</div>