<div style="display:flex; justify-content:center; flex-wrap:wrap; gap:40px; align-items:center; text-align:center;">

<div>
  <a href="https://geoinquietos.org">
    <img src="./imgs/geoinquietos.jpg" alt="GeoInquietos" style="height:60px;">
  </a><br>
  <small style="font-size:0.8em;">GeoInquietos</small>
</div>

<div>
  <a href="">
    <img src="./imgs/geojovenes.jpeg" alt="GeoJovenes" style="height:60px;">
  </a><br>
  <small style="font-size:0.8em;">GeoJóvenes</small>
</div>

<div>
  <a href="https://openstreetmap.es">
    <img src="./imgs/Logo-spain-geo.png" alt="OpenStreetMap ES" style="height:60px;">
  </a><br>
  <small style="font-size:0.8em;">OpenStreetMap ES</small>
</div>

<div>
  <a href="https://www.osgeo.org/local-chapters/osgeo-spanish-language/">
    <img src="./imgs/logo-osgeoes.png" alt="OSGeo ES" style="height:60px;">
  </a><br>
  <small style="font-size:0.8em;">OSGeo ES</small>
</div>
</div>