<div style="display:flex; justify-content:center; flex-wrap:wrap; gap:40px; align-items:center; text-align:center;">

<div>
  <a href="https://geoinquietos.org">
    <img src="./imgs/geoinquietos.svg" alt="Geoinquietos" style="height:60px;">
  </a><br>
  <!-- <small style="font-size:0.8em;">GeoInquietos</small> -->
</div>

<div>
  <a href="https://openstreetmap.es">
    <img src="./imgs/osm_es_texto.svg" alt="Asoc. OpenStreetMap España" style="height:60px;">
  </a><br>
  <!-- <small style="font-size:0.8em;">Asoc. OpenStreetMap España</small> -->
</div>

<div>
  <a href="">
    <img src="./imgs/geojovenes.svg" alt="Geojóvenes" style="height:60px;">
  </a><br>
  <!-- <small style="font-size:0.8em;">Geojóvenes</small> -->
</div>



<!--
<div>
  <a href="https://www.osgeo.org/local-chapters/osgeo-spanish-language/">
    <img src="./imgs/logo-osgeoes.png" alt="OSGeo ES" style="height:60px;">
  </a><br>
    <small style="font-size:0.8em;">OSGeo ES</small>
</div>
 -->

</div>