<div style="display:flex; justify-content:center; flex-wrap:wrap; gap:40px; align-items:center; text-align:center;">

<div>
  <a href="https://www.zaragoza.es/sede/portal/etopia/">
    <img src="./imgs/etopia.svg" alt="Etopia" style="height:60px;">
  </a><br>
  <small style="font-size:0.8em;">Etopia - Centro de arte y tecnología</small>
</div>

<div>
  <a href="https://www.zaragoza.es/sede/">
    <img src="./imgs/ayto_zaragoza.svg" alt="Ayuntamiento de Zaragoza" style="height:60px;">
  </a><br>
  <small style="font-size:0.8em;">Ayuntamiento de Zaragoza</small>
</div>

<div>
  <a href="https://www.tomtom.com/">
    <img src="./imgs/tomtom.svg" alt="TomTom" style="height:60px;">
  </a><br>
  <small style="font-size:0.8em;">TomTom</small>
</div>

<div>
  <a href="https://www.qgis.es/">
    <img src="./imgs/qgis_esp.svg" alt="QGIS España" style="height:60px;">
  </a><br>
  <small style="font-size:0.8em;">Asociación QGIS España</small>
</div>

<div>
  <a href="https://www.teconecta.es">
    <img src="./imgs/teconecta-soastel-h-a.svg" alt="TEconecta" style="height:60px;">
  </a><br>
  <small style="font-size:0.8em;">TEconecta</small>
</div>

</div>
