
    <div class="container">
      <ul class="schedule">
        <li>
          <div class="time">10:00 AM - Apertura de la Sala</div>
          <div class="description">El evento arranca con la apertura del espacio Etopia. ¡Pasa, acomódate y prepárate
            para un gran día!</div>
        </li>
        <li>
          <div class="time">10:15 AM - Presentación</div>
          <div class="description">Unas palabras iniciales para dar la bienvenida y presentar el programa.</div>
        </li>
        <li>
          <div class="time">10:30 AM - Sesiones</div>
          <div class="description">Arrancan las primeras sesiones del día. ¡Es el momento de aprender!</div>
        </li>
        <li>
          <div class="time">12:00 PM - Pausa para Café</div>
          <div class="description">Hora de hacer una pausa, tomar un café y conocer a otros asistentes.</div>
        </li>
        <li>
          <div class="time">12:30 PM - Sesiones</div>
          <div class="description">Vuelve a sumergirte en las sesiones y sigue descubriendo nuevas ideas.</div>
        </li>
        <li>
          <div class="time">14:00 PM - Comida</div>
          <div class="description">Toca un descanso para disfrutar de la comida y recargar energías.</div>
        </li>
        <li>
          <div class="time">15:30 PM - Conferencia sorpresa</div>
          <div class="description">La conferencia principal del día ¿Quién vendrá este año?</div>
        </li>
        <li>
          <div class="time">16:00 PM - Sesiones</div>
          <div class="description">¡Seguimos con más sesiones interesantes!</div>
        </li>
        <li>
          <div class="time">17:30 PM - Mesa Redonda: Estado del mapa colaborativo</div>
          <div class="description"></div>
        </li>
        <li>
          <div class="time">18:30 PM - Clausura y Vino de honor</div>
          <div class="description">Cerramos el evento con una copa de vino y un buen rato de networking.</div>
        </li>
      </ul>
    </div>
  <!-- <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 1076px; width: 1920px; z-index: -999998; position: absolute;"><img style="position: absolute; margin: 0px; padding: 0px; border: medium; width: 1920px; height: 1249.16px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -86.5783px;" src="assets/img/backgrounds/7.jpg"></div> -->
