<script defer src="{{ "/js/schedule.js" | relURL }}"></script>

    <div class="container">
      <ul class="schedule">
        <li session-duration="15">
          <div class="session-time">
            <time datetime="2025-12-13T10:00:00+01:00"></time>
          </div>
          <div class="session-details">
            <div class="session-title">Apertura de la Sala</div>
            <div class="session-description">El evento arranca con la apertura del espacio Etopia. ¡Pasa, acomódate y prepárate
              para un gran día!</div>
          </div>
        </li>
        <li session-duration="45">
          <div class="session-time">
            <time datetime="2025-12-13T10:15:00+01:00"></time>
          </div>
          <div class="session-details">
            <div class="session-title">Presentación</div>
            <div class="session-description">Unas palabras iniciales para dar la bienvenida y presentar el programa.</div>
          </div>
        </li>
        <li session-duration="60">
          <div class="session-time">
            <time datetime="2025-12-13T11:00:00+01:00"></time>
          </div>
          <div class="session-details">
            <div class="session-title">Sesiones</div>
            <div class="session-description">Arrancan las primeras sesiones del día. ¡Es el momento de aprender!</div>
          </div>
        </li>
        <li session-duration="30">
          <div class="session-time">
            <time datetime="2025-12-13T12:00:00+01:00"></time>
          </div>
          <div class="session-details">
            <div class="session-title">Pausa para Café</div>
            <div class="session-description">Hora de hacer una pausa, tomar un café y conocer a otros asistentes.</div>
          </div>
        </li>
        <li session-duration="90">
          <div class="session-time">
            <time datetime="2025-12-13T12:30:00+01:00"></time>
          </div>
          <div class="session-details">
            <div class="session-title">Sesiones</div>
            <div class="session-description">Vuelve a sumergirte en las sesiones y sigue descubriendo nuevas ideas.</div>
          </div>
        </li>
        <li session-duration="90">
          <div class="session-time">
            <time datetime="2025-12-13T14:00:00+01:00"></time>
          </div>
          <div class="session-details">
            <div class="session-title">Comida</div>
            <div class="session-description">Toca un descanso para disfrutar de la comida y recargar energías.</div>
          </div>
        </li>
        <li session-duration="30">
          <div class="session-time">
            <time datetime="2025-12-13T15:30:00+01:00"></time>
          </div>
          <div class="session-details">
            <div class="session-title">Conferencia sorpresa</div>
            <div class="session-description">La conferencia principal del día ¿Quién vendrá este año?</div>
          </div>
        </li>
        <li session-duration="90">
          <div class="session-time">
            <time datetime="2025-12-13T16:00:00+01:00"></time>
          </div>
          <div class="session-details">
            <div class="session-title">Sesiones</div>
            <div class="session-description">¡Seguimos con más sesiones interesantes!</div>
          </div>
        </li>
        <li session-duration="60">
          <div class="session-time">
            <time datetime="2025-12-13T17:30:00+01:00"></time>
          </div>
          <div class="session-details">
            <div class="session-title">Mesa Redonda: Estado del mapa colaborativo</div>
            <div class="session-description"></div>
          </div>
        </li>
        <li session-duration="90">
          <div class="session-time">
            <time datetime="2025-12-13T18:30:00+01:00"></time>
          </div>
          <div class="session-details">
            <div class="session-title">Clausura y Vino de honor</div>
            <div class="session-description">Cerramos el evento con una copa de vino y un buen rato de networking.</div>
          </div>
        </li>
      </ul>
    </div>
  <!-- <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 1076px; width: 1920px; z-index: -999998; position: absolute;"><img style="position: absolute; margin: 0px; padding: 0px; border: medium; width: 1920px; height: 1249.16px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -86.5783px;" src="assets/img/backgrounds/7.jpg"></div> -->
